/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // Ref: https://zmkfirmware.dev/docs/codes/
            // ---  MAIN  -----------------------------------------------------------------------------------------------------------------------
            // |    ESC    |     1     |     2     |     3      |      4      |      5     |                           |      6      |      7     |      8      |      9     |     0    |    BSPC    | |    -/_    |     =/+     |    GRAVE    |
            // |    TAB    |     Q     |     W     |     E      |      R      |      T     |                           |      Y      |      U     |      I      |      O     |     P    |    DEL     | |     \     |      [      |      ]      |
            // |   LCTRL   |     A     |     S     |     D      |      F      |      G     |                           |      H      |      J     |      K      |      L     |     ;    |     '      | |           |      UP     |             |
            // |   SHIFT   |     Z     |     X     |     C      |      V      |      B     |                           |      N      |      M     |      ,      |      .     |     /    |   RSHIFT   | |     L     |      DN     |      R      |
            //                                     |   NUMPAD   |     LALT    |    LCMD    |   SPACE    |  |   ENTER   |   FUNCTION  |  MACOS APP |  MACOS LANG |

            bindings = <
&kp ESC    &kp N1    &kp N2  &kp N3            &kp N4     &kp N5         &kp N6  &kp N7     &kp N8     &kp N9   &kp N0    &kp MINUS         &kp MINUS  &kp BACKSPACE  &trans
&kp TAB    &kp Q     &kp W   &kp E             &kp R      &kp T          &kp Y   &kp U      &kp I      &kp O    &kp P     &kp LEFT_BRACKET  &kp ENTER  &kp ENTER      &trans
&kp LCTRL  &kp A     &kp S   &kp D             &kp F      &kp G          &kp H   &kp J      &kp K      &kp L    &kp SEMI  &kp APOS          &kp UP
&kp LSHFT  &kp Z     &kp X   &kp C             &kp V      &kp B          &kp N   &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp RSHIFT        &kp LEFT   &kp DOWN       &kp RIGHT
&mo 2      &kp LALT  &mo 1   &kp LEFT_COMMAND  &kp SPACE  &kp BACKSPACE  &mo 1   &kp ENTER
            >;
        };

        function_layer {
            // ---  FUNCTION  -------------------------------------------------------------------------------------------------------------------
            // | BT Clear  |  BT Prev  |  BT Next  |            |             |            |                           |             |            |             |            |          |            | |           |             |             |
            // |           |           |           |            |             |            |                           |             |            |     UP      |            |          |            | |           |             |             |
            // |           |           |           |            |             |            |                           |             |    LEFT    |    DOWN     |   RIGHT    |          |            | |           |             |             |
            // |           |           |           |            |             |            |                           |             |    MUTE    |  VOL DOWN   |   VOL UP   |          |            | |           |             |             |
            //                                     |            |             |            |            |  |           |             |            |             |

            bindings = <
&kp GRAVE          &trans       &trans                    &trans                &trans                 &trans                     &bt BT_SEL 0  &bt BT_SEL 1          &bt BT_SEL 2           &bt BT_SEL 3    &bt BT_SEL 4      &trans             &trans       &bt BT_CLR     &trans
&kp LG(TILDE)      &kp N6       &kp N7                    &kp N8                &kp N9                 &kp N0                     &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACE  &kp RIGHT_BRACE   &trans             &trans       &trans         &trans
&kp C_VOLUME_UP    &kp LG(TAB)  &kp LG(LS(LEFT_BRACKET))  &kp LG(LEFT_BRACKET)  &kp LG(RIGHT_BRACKET)  &kp LG(LS(RIGHT_BRACKET))  &kp PLUS      &kp EQUAL             &kp UNDERSCORE         &kp MINUS       &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp PAGE_UP
&kp C_VOLUME_DOWN  &kp K_MUTE   &trans                    &kp HOME              &kp END                &kp C_VOLUME_UP            &kp TILDE     &kp PIPE              &kp BACKSLASH          &kp C_VOL_UP    &trans            &trans             &kp HOME     &kp PAGE_DOWN  &kp END
&trans             &trans       &trans                    &trans                &kp ENTER              &kp LA(BACKSPACE)          &trans        &trans
            >;
        };

        layer_2 {
            bindings = <
&kp GRAVE          &trans       &trans                    &trans                &trans                 &trans                     &bt BT_SEL 0  &bt BT_SEL 1          &bt BT_SEL 2           &bt BT_SEL 3    &bt BT_SEL 4      &trans             &trans       &bt BT_CLR     &trans
&kp LG(TILDE)      &kp N6       &kp N7                    &kp N8                &kp N9                 &kp N0                     &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACE  &kp RIGHT_BRACE   &trans             &trans       &trans         &trans
&kp C_VOLUME_UP    &kp LG(TAB)  &kp LG(LS(LEFT_BRACKET))  &kp LG(LEFT_BRACKET)  &kp LG(RIGHT_BRACKET)  &kp LG(LS(RIGHT_BRACKET))  &kp PLUS      &kp EQUAL             &kp UNDERSCORE         &kp MINUS       &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp PAGE_UP
&kp C_VOLUME_DOWN  &kp K_MUTE   &trans                    &kp HOME              &kp END                &kp C_VOLUME_UP            &kp TILDE     &kp PIPE              &kp BACKSLASH          &kp C_VOL_UP    &trans            &trans             &kp HOME     &kp PAGE_DOWN  &kp END
&trans             &trans       &trans                    &trans                &kp ENTER              &kp LA(BACKSPACE)          &trans        &trans
            >;
        };
    };
};
